

<center>

  <% if @alldata %>
    <div class="large-6 large-centered columns">
      <%= image_tag "two.png" %>&nbsp;&nbsp;&nbsp;&nbsp;<div class="stay-on-line"><%= label_tag :video_title,"GIVE YOUR VIDEO A TITLE:", :class => "hashtag-font" %></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="stay-on-line">
      <%= text_field_tag :video_name, nil, :placeholder => "make it cool" %>
    </div>
     </div><br>
    <div class="large-6 large-centered columns">
    <%= image_tag "three.png" %>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hashtag-font">CHOOSE 10 PHOTOS&nbsp;&nbsp;(move 'em around if you like!)&nbsp;&nbsp;&nbsp;</span>
  </div>
    <br>
    <div class="large-6 large-centered columns">
      <%=image_tag "four.png" %>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hashtag-font">ADD SOME MUSIC:&nbsp;&nbsp;&nbsp;&nbsp;</span><div class="stay-on-line"><%= select_tag :music_choice, options_for_select([[" Celebratory ", "1"], [" Happy ", "2"], [" 80s Jam ", "3"], [" Sentimental ", "4"], [" I don't like music ", "5"]]) %>
    </div>
  </div>
    <div class="large-12 large-centered columns">

    <!-- This is the cloud -->
    <div id="sortable">
      <!-- Where we store the currently used images-->
       <span class='shadow'></span>
     </div>
    </div>

    <br>
    <span id="notice"></span>
    <br>
    <br>
    <%= submit_tag "BUILD IT", :class => "button radius", :id => "submit_button" %>

    <% @alldata.each_with_index do |x, index|%>
      <% if index%5 == 0 %>
        </br></br>
      <% end %>
        <a class="th">
          <img src="<%= x["images"]["thumbnail"]["url"] %>" id="<%= index %>" class="hashtag-images" />
          <i class="fa fa-check" id='bigger'></i>
        </a>
    <% end %>


  <% end %>

</center>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>

$(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
});


$('.fa-check').hide()

$('.th').on('click', function(e) {
  if ($(this).prop("checked") == undefined){
    $(this).prop("checked", false)
  }


  if (($('#sortable').children().length < 11 && $(this).prop("checked") == false )){
    $(this).prop("checked", !($(this).prop("checked")))
  }
  else if($(this).prop("checked")){
    $(this).prop("checked", !($(this).prop("checked")))
  }


  if ( $(this).prop("checked")){
    var copy = $(this).children('img').clone()
    $(this).children('img').css('opacity', 0.5);
    $(this).children('.fa-check').show();
    //pic_array.push($(this).children('img').attr('src'))

    $('#sortable').append(copy)

  }
  else{
    var item_id = $(this).children('img').attr('id')
    $(this).children('img').css('opacity', 1);
    $(this).children('.fa-check').hide();
    //var index = pic_array.indexOf($(this).children('img').attr('src'));
    //pic_array.splice(index, 1);

    $('#sortable').children().remove('#'+item_id)
  }
})


//create button and on click send array

$("#submit_button").click(function(){

  nameyname = $("#video_name").val()

  listylist = []
  $('#sortable').children('img').map(function(i,a){
    listylist.push("" + a.src.replace("/s150x150", ""))
  })

  if (nameyname.length > 5 && listylist.length > 4){

    sendToBackend(nameyname,"None",listylist)
  }
  else if (nameyname.length > 4) {
    alert("Please select at least 5 images")
    $('#notice').text("Please select at least 5 images")
  }
  else if(listylist.length > 4){
    alert("Please give a name longer than 5 characters")
    $('#notice').text("Please give a name longer than 5 characters")
  }
  else{
    alert("Please give a name longer than 5 characters and at least 5 images")
    $('#notice').text("Please give a name longer than 5 characters and at least 5 images")
  }

});


function sendToBackend(title, music, imgs){

  $.ajax({
  type: 'POST',
  url: '/hashtag/encode',
  data:{'title': title, 'imgs': imgs, 'music': music}
  }).success(function (item) {
     window.location.replace(item);
  });

  $('#instas').hide()
  var centery = $('<center>')
  var loader = $('<img>').attr('src', '/assets/ajaxload.GIF');
  centery.append(loader)
  $('#loader').append(centery)
}

</script>

