<section class="banner-all">
  <div class="small-12 columns">
    <a href="/">
      <%= image_tag("cloud7.png", :size => "150x150")%>
    </a>
    <a href="/videos" class="button radius" id="searchbutton"> SEARCH VIDEOS </a>
    <a href="/search" class="button radius" id="createbutton"> CREATE VIDEO </a>
  </div>
  <br>
  <br>
</section>


<div class="large-12 large-centered columns hashyhide">
  <center>
    <%= form_tag("/hashtag/pics") do |f| %>
    <br><%= image_tag("one.png")%>&nbsp;&nbsp;&nbsp;
    <div class="stay-on-line">
    <%= label_tag :hashy_tag,"ENTER A HASHTAG: ", :class => "hashtag-font" %>
  </div>&nbsp;&nbsp;
  <!--   <div class="stay-on-line">

      <i class="fa fa-slack" id='hashtag-symbol'></i> -->
      <div class="stay-on-line">
      <%= text_field_tag :tag, nil, :placeholder => "no spaces" %>

    </div>
    <div class="stay-on-line">
    <%= submit_tag "GO", :class => "tiny button radius gobutton", :id => "search-font" %>
  </div>
    <% end %>
  </center>
</div>

<br>

<div id="instas">
  <%= render "showpics" %>
</div>

<div id="loader">

</div>

<br>
<br>
<br>









