

<section class="banner-all">
  <%= image_tag("cloud7.png", :size => "150x150")%>
  <a href="/" class="button radius" id="searchbutton"> SEARCH VIDEOS </a>
  <a href="/" class="button radius" id="createbutton"> CREATE VIDEO </a>
  <br>
  <br>
</section>


<div class="large-3 large-centered columns">
  <center>
    <%= form_tag("/hashtag/pics") do |f| %>
    <%= label_tag 'HashTag', nil, :class => "hashtag-font" %>
    <%= text_field_tag :tag %>
    <%= submit_tag "Search", :class => "button radius", :id => "search-font" %>
    <% end %>
  </center>
</div>

<br>

<div id="instas">
  <%= render "showpics" %>
</div>

<br>
<br>
<br>









