

  <section class="banner-all">
      <%= image_tag("cloud7.png", :size => "150x150")%>
      <a href="/" class="button radius" id="searchbutton"> SEARCH VIDEOS </a>
      <a href="/" class="button radius" id="createbutton"> CREATE VIDEO </a>
      <br>
      <br>
 </section>

<%= form_tag("/videos", method: "post") do %>
  <%= label_tag(:tag, "Enter Hashtag:") %>
  <%= text_field_tag(:tag) %>
  <%= submit_tag("Go!") %>
<% end %>
<br>
<center>
<!-- <form action="/videos" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="video[title]">

  <label for="tag">Tag:</label>
  <input type="text" id="tag" name="video[tag]">

  <label for="url">URL:</label>
  <input type="text" id="url" name="video[url]">

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <input type="submit" value="submit">
</form>
</center> -->