
<section class="hero">
  <section class="container2">
<!--     <div class="clearfix">
    <div class="button-bar right">
      <ul class="button-group">
    <a href="/videos" class="button radius" id="searchbutton">SEARCH VIDEOS</a>
    <a href="/search" class="button radius" id="createbutton">CREATE VIDEO </a>
  </ul> -->
  </div>
</div>
    <br>
    <br>
  <div class="large-12 columns">
  <center>
    <br>
    <br>
    <br>
    <div class="cloud"><%= image_tag "cloud7.png" %></div>
    <h3 class="purposetext3">Turn Your Social Content Into A Video.</h3><br>
    <div class="large-6 large-centered columns">
    <a href="/videos" class="button radius" id="searchbutton"><i class="fa fa-search"></i>&nbsp;SEARCH VIDEOS</a>
    <a href="/search" class="button radius" id="createbutton">&nbsp;<i class="fa fa-pencil"></i>&nbsp;CREATE VIDEO&nbsp;</a>
</div>
  </center>
  </div>
  </section>
</section>

<br>
<br>

<div class="large-12 columns">
  <center>
    <h1 class="purposetext">Over One Million Videos, Dozens of Purposes</h1>
    <h3 class="purposetext2">From community events to a wedding, people are</h3>
    <h3 class="purposetext2">turning social content into shareable videos every day.</h3>
  </center>
</div>

<br>

<div class="large-12 columns">
  <br>
  <br>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="large-12 large-centered columns">
  <center>
    <%= image_tag "icon1.jpg", :class => "icon1" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= image_tag "icon2.jpg", :class => "icon2" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= image_tag "icon3.jpg", :class => "icon3" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= image_tag "icon4.jpg", :class => "icon4" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= image_tag "icon5.jpg", :class => "icon5" %>
<!--     <i class="fa fa-group parallex1" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-diamond parallex2" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-flag-o parallex3" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-graduation-cap parallex4" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-building parallex5" id="groupsize" style="color:#3c7db0"></i>
  </center> -->
</center>
</div>


<div class="large-12 columns">
  <br>
  <br>
<div class="large-3 large-centered columns" id="event-types">
</div>
</div>

