
<section class="hero">
  <section class="container2">
<!--     <div class="clearfix">
    <div class="button-bar right">
      <ul class="button-group">
    <a href="/videos" class="button radius" id="searchbutton">SEARCH VIDEOS</a>
    <a href="/search" class="button radius" id="createbutton">CREATE VIDEO </a>
  </ul> -->
  </div>
</div>
  <div class="large-12 columns">
    <center>
      <br>
      <br>
      <br>
      <div class="cloud"><%= image_tag "cloud7.png" %></div>
      <h3 class="purposetext3">Turn Your Social Content Into A Video.</h3><br>
      <div class="large-6 large-centered columns">
        <a href="/videos" class="button radius" id="searchbutton"><i class="fa fa-search"></i>&nbsp;SEARCH VIDEOS</a>
        <a href="/search" class="button radius" id="createbutton">&nbsp;<i class="fa fa-pencil"></i>&nbsp;CREATE VIDEO&nbsp;</a>
      </div>
    </center>
  </div>

  </section>
</section>

<!-- <br>
<br> -->
<div class="large-12 columns companiescontainer">
  <!-- <hr> -->
  <center><%= image_tag "companylogo1.png" %><%= image_tag "companylogo2.png" %>&nbsp;&nbsp;<%= image_tag "companylogo3.png" %><%= image_tag "company4.png" %><%= image_tag "companylogo5.png" %></center>
<!--   <hr class="hrpad1"></hr> -->
</div>
<div class="large-12 columns cloudcontainer">
<br>
<br>
<div class="large-6 large-centered columns">

 <center>
   <%= image_tag "purposes.png" %><br>
 <h2 class="purposetext">Over One Zillion Videos, Dozens of Purposes</h2>
</center>
<br>

  <center>
<!-- <i class="fa fa-instagram" id='instasymbol'></i> --><span class="youhash">YOU HASH.</span>&nbsp;
  <!-- <i class="fa fa-forward" id='instasymbol'></i>&nbsp;&nbsp; --><span class="youhash">WE MASH.</span>
</center>
</div>


</div>




<!--
<br>

<div class="large-12 columns">
  <br>
  <br>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="large-12 large-centered columns">
  <center>

    <br> -->
<!--     <i class="fa fa-group parallex1" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-diamond parallex2" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-flag-o parallex3" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-graduation-cap parallex4" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-building parallex5" id="groupsize" style="color:#3c7db0"></i>
  </center> -->
<!--   </center>
</div> -->

<!-- <div class="large-12 large-centered columns cloudcontainer">
</div>


</div>
<br>
<br> -->
<div class="large-12 columns sharecontainer">
  <br>
  <br>
  <div class="large-12 large-centered columns">
  <div class="infographicpic"><%= image_tag "hmshare.png" %></div>
  <div class="infographictext"><span class="textspace1">SHARE LIFE'S MOMENTS WITH FRIENDS.</span><br><br><span class="infographictext2"><span class="textspace2">With HashMash, we've made it super easy for you to share the greatest moments of your life with family and friends.<br>Simply assign a hashtag to your event, use it when capturing instagram and twitter media, and mash it together into a video through our site.  Your mash can then be shared through specified social networks.</span></div></span>
</div>
</div>
</div>


<div class="large-12 columns footerindex">
</div>


